<% if comment.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(comment.errors.count, "error") %>
            prohibited this comment from being removed:
        </h2>
        <ul>
            <% comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<p>
    <%= link_to 'Destroy Comment', [comment.article, comment], 
        method: :delete, data: { confirm: 'Are you sure?' } %>
</p>